.MonthInClouds {
  @include not-phone {
    min-height: 136px;
  }
  @include phone {
    min-height: 406px;
  }
}

.MonthInClouds-title {
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.MonthInClouds-titleText {
  position: relative;
  padding-right: 70px;
  margin-left: 5px;
  @include not-phone {
    padding-right: 70px;
  }
  @include phone {
    padding-right: 50px;
  }
}

.MonthInClouds-titleMonth {
  position: relative;
  display: inline-block;
  min-height: 20px;
  width: 65px;
  overflow: hidden;
  @include not-phone {
    padding-left: 70px;
  }
  @include phone {
    padding-left: 50px;
  }
}

.MonthInClouds .SectionContent.is-inViewport .MonthInClouds-titleMonth {
  transition: 500ms width 800ms ease-in-out;
}

.MonthInClouds-titleMonthValue {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 20;
  white-space: nowrap;
}

.MonthInClouds .SectionContent.is-inViewport .MonthInClouds-titleMonthValue {
  $duration: 350ms;
  $offset_desktop: 30px;
  $offset_mobile: 40px;

  &.slide-enter.slide-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform $duration ease-in-out, opacity $duration ease-in-out;
  }

  &.slide-enter {
    transform: translate3d(0, $offset_desktop, 0);
    @include phone {
      transform: translate3d(0, $offset_mobile, 0);
    }
  }

  &.slide-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.slide-leave.slide-leave-active {
    opacity: 0.3;
    transition: transform $duration ease-in-out, opacity $duration ease-in-out;
    transform: translate3d(0, -$offset_desktop, 0);
    @include phone {
      transform: translate3d(0, -$offset_mobile, 0);
    }
  }
}

.MonthInClouds-itemsContainer {
  max-width: 900px;
  margin: 15px auto 0;
  width: 100%;
  position: relative;
  z-index: 10;
  @include not-phone {
    min-height: 100px;
  }
  @include phone {
    min-height: 200px;
  }
}

/* We use pos-abs to prevent viewport height changing when changeDate button pushed */
.MonthInClouds-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.MonthInClouds-item {
  $width: 54px;
  $height: 54px;

  width: $width;
  height: $height;
  line-height: $height;
  font-size: 42px;
  overflow: hidden;
  text-align: center;
  transform: translate3d(0, 0, 0);

  &.is-selected {
    color: $color_item_selected;
  }

  &.is-visible_no {
    opacity: 0;
    width: 0;
    transform: translate3d(15px, 0, 0) scale(0.01);
  }
}

.MonthInClouds .SectionContent.is-inViewport .MonthInClouds-item {
  $duration: 800ms;

  transition:
    font-size $duration ease-in-out,
    opacity $duration ease-in-out,
    transform $duration ease-in-out,
    width $duration ease-in-out,
    max-width $duration ease-in-out;
}
