{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "requestAnimationFrame": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "flowtype"
  ],
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "no-cond-assign": ["error", "always"],
    "global-require": "off",

    // disable rules from base configurations
    "no-console": "off",

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
