@include phone {
  .Jdan-title {
    text-align: center;
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }

  .Jdan-subTitle {
    text-align: center;
    font-size: $section_subtitle_font_size_mobile;
    line-height: 22px;
    margin-top: 5px;
  }

  .Jdan-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-end;
  }

  .Jdan.is-chSelected .Jdan-items {
    height: 285px;
  }

  .Jdan.is-halSelected .Jdan-items {
    height: 5400px;
  }

  .Jdan-item {
    width: 25%;
  }

  .Jdan-itemDate {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
  }
}
