.Poloter {
  width: 42px;
  height: 42px;
  position: relative;

  svg {
    height: 100%;
  }

  &.is-mirrored_no {
    z-index: 20;
  }

  &.is-mirrored_yes {
    transform: translateY(0);
    z-index: 10;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(#000, 0.65) 0%, #000);
    }

    svg {
      transform: scaleY(-1);
    }
  }
}
