.CurrDayAbbr {
  text-align: center;
}

.CurrDayAbbr-title {
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.CurrDayAbbr-description {
  @include not-phone {
    font-size: $section_subtitle_font_size_desktop;
    line-height: $section_subtitle_font_line_height_desktop;
    margin-top: $section_subtitle_margin_top_desktop;
  }
  @include phone {
    font-size: $section_subtitle_font_size_mobile;
    line-height: $section_subtitle_font_line_height_mobile;
    max-width: 200px;
    margin-top: $section_subtitle_margin_top_mobile;
    margin-left: auto;
    margin-right: auto;
  }
}

.CurrDayAbbr-abbr {
  font-size: 142px;
  margin-top: 20px;
  @include phone {
    font-size: 72px;
  }
}
