@include not-phone {
  .DayInYearScale-title {
    text-align: center;
    font-size: $section_title_font_size_desktop;
  }

  .DayInYearScale-items {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 40px 0 0;
    justify-content: center;
  }

  .DayInYearScale-item {
    width: 1px;
    height: 5px;
    background-color: #333;
    margin-right: 1px;

    &:last-child {
      margin-right: 0;
    }

    &.is-selected {
      background-color: #fff;
      height: 15px;
      width: 2px;
    }
  }
}
