.SwoPage {
  margin: 0 0 100px;
  position: relative;
  padding: 0 20px;
  @include phone {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }
  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }

  .Hero {
    @include not-phone {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include phone {
      padding-top: 100px;
    }
  }

  .StatPrevDates {
    margin-top: 60px;
  }

  .StatTotal,
  .StatMinMax,
  .DayInYearScale,
  .StatTotalEvenOdd,
  .StatAround,
  .CurrDayAbbr,
  .StatJdan,
  .StatNumFreqInYear,
  .StatDayInMonth,
  .StatSeasons,
  .StatHalfYear,
  .StatSlash {
    margin-top: 200px;
    @include phone {
      margin-top: 60px;
    }
  }

  .Footer {
    margin-top: 100px;
    @include phone {
      margin-top: 60px;
    }
  }
}
