.SwoPage {
  margin: 0 0 100px;
  position: relative;
  padding: 0 20px;
  @include phone {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }

  .Header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @media screen and (max-height: 600px) {
      position: static;
    }
  }

  .Hero {
    @include not-phone {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include phone {
      padding-top: 60px;
    }
  }

  .StatMonths {
    margin-top: 60px;
  }

  .StatTotal,
  .StatMinMax,
  .DayInYearScale,
  .StatJdan {
    margin-top: 200px;
    @include phone {
      margin-top: 60px;
    }
  }

  .Footer {
    margin-top: 100px;
    @include phone {
      margin-top: 60px;
    }
  }
}
