.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 999;
  box-shadow: 0 1px 2px rgba(#fff, 0.2);
}

.Header-nav {
  display: flex;
  margin: 15px 20px;
  justify-content: flex-end;
}

.Header-swoDate {
  @include phone {
    font-size: 15px;
  }
}

.Header-swoDateValueInner {
  display: inline-block;
  transition:
    250ms opacity ease-in-out,
    250ms transform ease-in-out,
    250ms margin ease-in-out;
  transform: translate(7px, 0);
  opacity: 0;
}

.Header-swoDate.is-valueVisible_yes {
  .Header-swoDateValueInner {
    transform: translate(0, 0);
    opacity: 1;
  }

  .Header-swoDateFetchButton {
    text-transform: lowercase;
    margin-left: 3px;
  }
}

.Header-swoDateFetchButton {
  transition: opacity 250ms ease-in-out, border 250ms ease-in-out;
  user-select: none;
  padding: 2px;
  margin-left: 0;
}

.Header-swoDate {
  &.is-fetching_no .Header-swoDateFetchButton {
    border-bottom: 1px dashed #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.is-fetching_yes .Header-swoDateFetchButton {
    opacity: 0.2;
    border-bottom: 1px dashed transparent;
    cursor: default;
  }
}
