.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(#000, 0.4);
  z-index: 999;
}

.Header-nav {
  display: flex;
  margin: 20px;
  @include not-phone {
    justify-content: center;
  }
}

.Header-navItem {
  width: 30px;
  height: 30px;
}

.Header-navItem.is-main {
  .Header-navItemContent {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
    transition: background-color 250ms ease-in-out;
  }

  .Header-navItemLink:hover,
  .Header-navItemLink:active {
    .Header-navItemContent {
      background-color: red;
    }
  }
}

.Header-navItem.is-swo {
  position: absolute;
  top: 25px;
  right: 20px;
  width: auto;
  height: auto;
  text-align: right;
  @include phone {
    top: 18px;
  }
}

.Header-swoDate {
  @include phone {
    font-size: 15px;
  }
}

.Header-swoDateValue {
  @include phone {
    display: block;
  }
}

.Header-swoDateFetchButton {
  transition: opacity 250ms ease-in-out, border 250ms ease-in-out;
  user-select: none;
  padding: 2px;
  margin-left: 3px;
  @include not-phone {
    text-transform: lowercase;
  }
}

.Header-swoDate {
  &.is-fetching_no .Header-swoDateFetchButton {
    border-bottom: 1px dashed #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.is-fetching_yes .Header-swoDateFetchButton {
    opacity: 0.2;
    border-bottom: 1px dashed transparent;
    cursor: default;
  }
}
