.Header-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.Header-navItem {
  width: 30px;
  height: 30px;
}

.Header-navItem.is-main {
  .Header-navItemContent {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
    transition: background-color 250ms ease-in-out;
  }

  .Header-navItemLink:hover,
  .Header-navItemLink:active {
    .Header-navItemContent {
      background-color: red;
    }
  }
}
