.News {
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.News-title {
  text-align: center;

  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.News-items {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.News-item {
  display: inline;
  font-size: 14px;
  line-height: 24px;
}

.News-itemDate {
  white-space: nowrap;
  color: #666;
  font-size: 12px;
}
