.StatSlash {
  text-align: center;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}


.StatSlash-title {
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.StatSlash-subTitle {
  @include not-phone {
    font-size: $section_subtitle_font_size_desktop;
    line-height: $section_subtitle_font_line_height_desktop;
    margin-top: $section_subtitle_margin_top_desktop;
  }
  @include phone {
    font-size: $section_subtitle_font_size_mobile;
    line-height: $section_subtitle_font_line_height_mobile;
    margin-top: $section_subtitle_margin_top_mobile;
  }
}

.StatSlash-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.StatSlash-item {
  font-size: 56px;
  line-height: 56px;
  margin: 0 5px;
  @include phone {
    font-size: 32px;
    line-height: 32px;
  }

  &.is-gt {
    color: greenyellow;
  }

  &.is-lt {
    color: white;
  }

  &.is-eq {
    color: darkgray;
    font-size: 44px;
    transform: translate(0, -2px);
    @include phone {
      font-size: 26px;
    }
  }

  &.is-selected {
    color: orange;
  }
}
