.Hero {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.Hero-day {
  font-size: 32px;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 4px;
}

.Hero .SectionContent.is-inViewport .Hero-day {
  transition: background-color 700ms ease-in-out, color 700ms ease-in-out;
}

.Hero-swo {
  font-size: 100px;
  line-height: 120px;
  margin-top: 30px;
  @include tablet {
    font-size: 60px;
    line-height: 68px;
  }
  @include phone {
    font-size: 42px;
    line-height: 48px;
  }
}

.Hero-swoDateContainer {
  position: relative;
  min-height: 120px;
  z-index: 10;
  overflow: hidden;
  @include tablet {
    min-height: 72px;
  }
  @include phone {
    min-height: 48px;
  }
}

.Hero-swoDate {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
  white-space: nowrap;
}

.Hero .SectionContent.is-inViewport .Hero-swoDate {
  $duration: 350ms;
  $offset_desktop: 150px;
  $offset_mobile: 60px;

  &.slide-enter.slide-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform $duration ease-in-out, opacity $duration ease-in-out;
  }

  &.slide-enter {
    transform: translate3d(0, $offset_desktop, 0);
    @include phone {
      transform: translate3d(0, $offset_mobile, 0);
    }
  }

  &.slide-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.slide-leave.slide-leave-active {
    opacity: 0.3;
    transition: transform $duration ease-in-out, opacity $duration ease-in-out;
    transform: translate3d(0, -$offset_desktop, 0);
    @include phone {
      transform: translate3d(0, -$offset_mobile, 0);
    }
  }
}

.Hero-changeDate {
  font-size: 42px;
  margin-top: 40px;
  @include tablet {
    font-size: 32px;
    margin-top: 30px;
  }
  @include phone {
    font-size: 22px;
    margin-top: 30px;
  }
}

.Hero-fetchButton {
  transition: opacity 250ms ease-in-out, border 250ms ease-in-out, color 250ms ease-in-out;
  user-select: none;
  padding: 2px;
  margin-left: 0;
  color: #428bca;
}

.Hero {
  &.is-fetching_no .Hero-fetchButton {
    border-bottom: 1px dashed #428bca;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &.is-fetching_yes .Hero-fetchButton {
    opacity: 0.8;
    color: #fff;
    border-bottom: 1px dashed #fff;
    cursor: default;
  }
}

.Hero-total {
  @include not-phone {
    font-size: 28px;
    margin-top: 30px;
  }
  @include phone {
    font-size: 18px;
  }
}

.Hero-poloter {
  text-align: left;
  height: 80px;
  @include not-phone {
    margin-top: 50px;
  }
  @include phone {
    padding: 0 10px;
    margin-top: 30px;
  }

  .Poloter {
    width: 321px;
    margin-left: auto;
    margin-right: auto;
    @include not-phone {
      &.is-mirrored_no {
        margin-top: 30px;
      }
    }
    @include phone {
      padding: 0 10px;

      &.is-mirrored_no {
        margin-top: 10px;
      }
    }
  }
}

.Hero-nav {
  @include not-phone {
    margin-top: 100px;
  }
  @include phone {
    margin-top: 50px;
  }
}

.Hero-totalDescription {
  margin-top: 30px;
  line-height: 22px;
}

.Hero-sumOfNum {
  margin-top: 15px;
}
