.Typogr {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Typogr-title {
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.Typogr-description {
  @include not-phone {
    font-size: $section_subtitle_font_size_desktop;
    line-height: $section_subtitle_font_line_height_desktop;
    margin-top: $section_subtitle_margin_top_desktop;
  }
  @include phone {
    font-size: $section_subtitle_font_size_mobile;
    line-height: $section_subtitle_font_line_height_mobile;
    margin-top: $section_subtitle_margin_top_mobile;
  }
}

.Typogr-canvas {
  margin: 20px auto 0;
  display: block;
}
