.Hero {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;

  .Link:link,
  .Link:visited {
    color: red;
  }

  .Link:hover,
  .Link:active {
    color: #428bca;
  }
}

.Hero-swo {
  font-size: 100px;
  line-height: 120px;
  @include tablet {
    font-size: 60px;
  }
  @include phone {
    font-size: 24px;
  }
}

.Hero-swoDate {
  white-space: nowrap;
}

.Hero-nav {
  margin-top: 50px;
  font-size: 32px;
}
