.is-bgColor1 {
  background: red;
}

.is-bgColor2 {
  background: mediumseagreen;
}

.is-bgColor3 {
  background: greenyellow;
}

.is-bgColor4 {
  background: palegreen;
}

.is-bgColor5 {
  background: darkseagreen;
}

.is-bgColor6 {
  background: #696969;
}

.is-bgColor7 {
  background: steelblue;
}

.is-bgColor8 {
  background: slateblue;
}

.is-bgColor9 {
  background: powderblue;
}

.is-bgColor10 {
  background: aliceblue;
}

.is-bgColor11 {
  background: indianred;
}

.is-bgColor12 {
  background: palevioletred;
}

.is-bgColor13 {
  background: orangered;
}

.is-bgColor14 {
  background: indianred;
}

.is-bgColor15 {
  background: darkred;
}

.is-bgColor16 {
  background: blanchedalmond;
}

.is-bgColor17 {
  background: midnightblue;
  color: white;
}

.is-bgColor18 {
  background: #800000;
}

.is-bgColor19 {
  background: linen;
}

.is-bgColor20 {
  background: lightskyblue;
}

.is-bgColor21 {
  background: limegreen;
}

.is-bgColor22 {
  background: lightsteelblue;
}

.is-bgColor23 {
  background: lightsalmon;
}

.is-bgColor24 {
  background: yellowgreen;
}

.is-bgColor25 {
  background: #f0fff0;
}

.is-bgColor26 {
  background: floralwhite;
}

.is-bgColor27 {
  background: wheat;
}

.is-bgColor28 {
  background: goldenrod;
}

.is-bgColor29 {
  background: orchid;
}

.is-bgColor30 {
  background: #808000;
}

.is-bgColor31 {
  background: orange;
}
