@mixin LinkRed {
  .Link:link,
  .Link:visited {
    color: red;
  }

  .Link:hover,
  .Link:active {
    color: #428bca;
  }
}

@mixin LinkBlue {
  .Link:link,
  .Link:visited {
    color: #428bca;
  }

  .Link:hover,
  .Link:active {
    color: red;
  }
}
