$section_title_font_size_desktop: 28px;
$section_title_font_line_height_desktop: 32px;
$section_title_font_size_mobile: 24px;
$section_title_font_line_height_mobile: 28px;

$section_subtitle_font_size_desktop: 16px;
$section_subtitle_font_line_height_desktop: 20px;
$section_subtitle_font_size_mobile: 14px;
$section_subtitle_font_line_height_mobile: 18px;

$section_subtitle_margin_top_desktop: 8px;
$section_subtitle_margin_top_mobile: 6px;

