.NavIndicator {

}

.NavIndicator-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.NavIndicator-item {
  $width_hover: 30px;
  $height_hover: 20px;
  $size_bg: 6px;

  width: $width_hover;
  height: $height_hover;
  position: relative;
  z-index: 10;
  cursor: pointer;
  background-color: #000;

  &:not(.is-hasImg)::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: $size_bg;
    height: $size_bg;
    transform: translate(-50%, -50%);
    background-color: darkred;
    -webkit-tap-highlight-color: $color_item_selected;
    border-radius: 100%;
    transition: background-color 100ms ease-out;
  }

  &.is-selectedFirst {
    &::before {
      background-color: orange;
    }

    .NavIndicator-itemImg {
      opacity: 1;
    }
  }

  &:hover::before {
    background-color: rgba(orange, 0.9);
  }

  &:hover .NavIndicator-itemImg {
    opacity: 1;
  }
}

.NavIndicator-itemImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 250ms opacity ease-in-out;
  opacity: 0.5;

  &,
  > svg {
    width: 20px;
    height: 20px;
  }
}
