.StatAround {
  text-align: center;
}

.StatAround-title {
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.StatAround-arrows {
  display: flex;
  justify-content: center;
}

.StatAround-arrow {
  font-size: 72px;
  margin: 0 10px;
  transition: 1000ms color ease-in-out;

  &.is-min {
    color: $color_item_min;
  }

  &.is-max {
    color: $color_item_max;
  }

  &.is-normal {
    color: $color_item_normal;
  }

  &.is-today {
    margin-top: -1px;
  }
}

.StatAround-value {
  white-space: nowrap;
}
