.HalfYear {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.HalfYear-title {
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.HalfYear-subTitle {
  @include not-phone {
    font-size: $section_subtitle_font_size_desktop;
    line-height: $section_subtitle_font_line_height_desktop;
    margin-top: $section_subtitle_margin_top_desktop;
  }
  @include phone {
    font-size: $section_subtitle_font_size_mobile;
    line-height: $section_subtitle_font_line_height_mobile;
    margin-top: $section_subtitle_margin_top_mobile;
  }

  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.HalfYear-items {
  margin-top: 20px;
  @include phone {
    margin-top: 10px;
  }
}

.HalfYear-item {
  font-size: 72px;
  display: block;
  @include phone {
    font-size: 32px;
  }

  &.is-division {
    border-top: 1px #fff solid;
    font-size: 12px;
    margin-top: 10px;

    .HalfYear-itemInner {
      visibility: hidden;
    }
  }

  &.is-equal {
    line-height: 48px;

    @include phone {
      line-height: 32px;
    }
  }
}
