.NumFreqInYear {
  text-align: center;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.NumFreqInYear-freqTitle {
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.NumFreqInYear-freqSubTitle {
  @include not-phone {
    font-size: $section_subtitle_font_size_desktop;
    line-height: $section_subtitle_font_line_height_desktop;
    margin-top: $section_subtitle_margin_top_desktop;
  }
  @include phone {
    font-size: $section_subtitle_font_size_mobile;
    line-height: $section_subtitle_font_line_height_mobile;
    margin-top: $section_subtitle_margin_top_mobile;
  }
}

.NumFreqInYear-freqColumns {
  @include not-phone {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
}

.NumFreqInYear-freqColumn {
  @include not-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
  }
  @include phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
}

.NumFreqInYear-freqColumn.is-selected {
  .NumFreqInYear-freqColumnLine {
    background-color: orange;
  }

  .NumFreqInYear-freqColumnData {
    color: orange;
  }
}

.NumFreqInYear-freqColumnLine {
  background-color: orangered;
  @include not-phone {
    width: 2px;

    &.is-horizontal {
      display: none;
    }
  }
  @include phone {
    height: 2px;
    order: 2;

    &.is-vertical {
      display: none;
    }
  }
}

.NumFreqInYear-freqColumnData {
  font-size: 14px;

  @include not-phone {
    margin-top: 20px;
  }

  @include phone {
    display: flex;
    text-align: left;
    margin-right: 10px;
    min-width: 30%;
  }
}

.NumFreqInYear-freqColumnDataValueAtNum {
  margin-top: 5px;
  @include phone {
    white-space: nowrap;
    margin: 0 10px;
  }
}

.NumFreqInYear-calendar {
  margin-top: 30px;
}

.NumFreqInYear-calendarItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.NumFreqInYear-calendarItem {
  margin: 1px 2px;

  &.is-oddMonth {
    color: red;
  }

  &.is-selected {
    color: orange;
  }
}
