.StatSeasons {
  margin: 0 auto;
  max-width: 940px;
}

.StatSeasons-title {
  text-align: center;
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.StatSeasons-items {
  margin: 15px 10px 0;
}

.StatSeasons-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.StatSeasons-item.is-selected {
  .StatSeasons-itemLineValue {
    height: 5px;
  }
}

.StatSeasons-itemName {
  text-align: right;
  flex: 0 0 55px;
  text-transform: lowercase;
}

.StatSeasons-itemLine {
  flex: 1 0 0;
  margin: 0 20px;
}

.StatSeasons-itemLineValue {
  height: 1px;
}

.StatSeasons .SectionContent.is-inViewport .StatSeasons-itemLineValue {
  transition: width 500ms ease-in, height 500ms ease-in;
}

.StatSeasons-itemValue {
  white-space: nowrap;
}
