.SumColumns {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  @include phone {
    max-width: 150px;
  }
}

.SumColumns-title {
  text-align: center;
  @include not-phone {
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }
  @include phone {
    font-size: $section_title_font_size_mobile;
    line-height: $section_title_font_line_height_mobile;
  }
}

.SumColumns-columns {
  @include not-phone {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  @include phone {
    margin-top: 10px;
  }
}

.SumColumns-column {
  @include not-phone {
    margin: 0 40px;
    flex: 1 0 0;
  }
  @include phone {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.SumColumns-columnTitle {
  font-size: 14px;
  line-height: 20px;

  &.is-short::after {
    @include not-phone {
      content: '\00a0';
      display: block;
    }
  }
}

.SumColumns-columnTitleDays {
  white-space: nowrap;
}

.SumColumns-columnItems {
  @include not-phone {
    margin-top: 20px;
  }

  @include phone {
    margin-top: 10px;
  }
}

.SumColumns-columnItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 7px;
  font-size: 14px;

  &:first-child {
    margin-top: 0;
  }

  &.is-visible_no {
    color: #666;
  }

  &.is-total {
    border-top: 1px #fff solid;

    @include not-phone {
      padding-top: 20px;
      margin-top: 20px;
    }

    @include phone {
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  &.is-selected {
    color: $color_item_selected;
  }
}

.SumColumns-columnItemTitle {
  margin-right: 5px;
}

.SumColumns-columnItemTitle,
.SumColumns-columnItemValue {
  white-space: nowrap;
}
