@include phone {
  .StatJdan-title {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .StatJdan-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-end;
  }

  .StatJdan-item {
    width: 25%;
  }

  .StatJdan-itemDate {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
  }
}
