@include not-phone {
  .StatJdan-title {
    text-align: center;
    font-size: $section_title_font_size_desktop;
    line-height: $section_title_font_line_height_desktop;
  }

  .StatJdan-subTitle {
    font-size: $section_subtitle_font_size_desktop;
    line-height: $section_subtitle_font_line_height_desktop;
    text-align: center;
    max-width: 800px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .StatJdan-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
    justify-content: center;
    align-items: flex-end;
  }

  .StatJdan-item {
    width: 25%;
    text-align: center;
  }

  .StatJdan-itemDate {
    font-size: 14px;
    margin-top: 30px;
  }
}
