.Footer {
  font-size: 14px;
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;

  @include LinkBlue();
}

.Footer-authors {
  margin-top: 30px;
}

.Footer-authorsTitle {
  font-size: 28px;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Footer-authorsItemsItemsContainer {
  margin: 20px auto;
  max-width: 810px;
}

.Footer-authorsItems {
  @include not-phone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -12px;
  }

  padding: 0;
  list-style: none;
}

.Footer-authorsItem {
  @include not-phone {
    flex: 0 0 auto;
    min-width: 200px;
  }
  @include phone {
    text-align: center;
  }
}

.Footer-authorsItemLayout {
  @include not-phone {
    margin: 0 12px 24px;
  }
  @include phone {
    margin-bottom: 12px;
  }
}

.Footer-authorsItemName {
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 3px;
}

.Footer-authorsItemRole,
.Footer-authorsItemDate {
  display: inline;
}

.Footer-authorsItemRole {
  font-size: 14px;
  color: #666;

  &:after {
    content: ' ';
  }
}

.Footer-authorsItemDate {
  font-size: 12px;
  color: #666;

  &::before {
    content: 'в ';
  }
}

.Footer-authorsItem.is-currMaintainer .Footer-authorsItemDate::before {
  content: 'с ';
}

.Footer-contacts {
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px #666 solid;
  font-size: 20px;
  text-align: center;

  @include phone {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
