.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 999;
  box-shadow: 0 1px 2px rgba(#fff, 0.2);
  padding: 15px 0 5px;
}

.Header-nav {
  display: flex;
  justify-content: center;
}

.Header-nav,
.Header-navIndicator {
  margin-left: 20px;
  margin-right: 20px;
}

.Header-navIndicator {
  margin-top: 12px;
}

.Header-swoDate {
  text-align: center;
  @include phone {
    font-size: 15px;
  }
}

.Header-swoDateValueInner {
  display: inline-block;
  transition:
    250ms opacity ease-in-out,
    250ms transform ease-in-out,
    250ms margin ease-in-out,
    250ms max-width ease-in-out;
  transform: translate(-7px, 0);
  opacity: 0;
  max-width: 1%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

.Header-swoDate.is-valueVisible_yes {
  .Header-swoDateValueInner {
    //transform: translate(0, 0);
    opacity: 1;
    max-width: 100%;
  }

  .Header-swoDateFetchButton {
    text-transform: lowercase;
    margin-left: 3px;
  }
}

.Header-swoDateFetchButton {
  transition: opacity 250ms ease-in-out, border 250ms ease-in-out;
  user-select: none;
  padding: 2px;
  margin-left: 0;
}

.Header-swoDate {
  &.is-fetching_no .Header-swoDateFetchButton {
    border-bottom: 1px dashed #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.is-fetching_yes .Header-swoDateFetchButton {
    opacity: 0.2;
    border-bottom: 1px dashed transparent;
    cursor: default;
  }
}

.Header-swoDateValueContainer {
  display: inline-block;
  position: relative;
  min-height: 14px;
  min-width: 85px;
  @include phone {
    min-height: 13px;
    min-width: 80px;
  }
}

.Header-swoDateValueContainerValue {
  position: absolute;
  left: 0;
  top: 0;
  $duration: 300ms;
  $offset_desktop: 20px;
  $offset_mobile: 15px;

  &.slide-enter.slide-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform $duration ease-in-out, opacity $duration ease-in-out;
  }

  &.slide-enter {
    transform: translate3d(0, $offset_desktop, 0);
    @include phone {
      transform: translate3d(0, $offset_mobile, 0);
    }
  }

  &.slide-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.slide-leave.slide-leave-active {
    opacity: 0.3;
    transition: transform $duration ease-in-out, opacity $duration ease-in-out;
    transform: translate3d(0, -$offset_desktop, 0);
    @include phone {
      transform: translate3d(0, -$offset_mobile, 0);
    }
  }
}
