.Header {
  position: fixed;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  background-color: #000;
  z-index: 999;
  box-shadow: 0 -1px 2px rgba(#fff, 0.2);
  padding: 15px 0;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: 250ms transform ease-in-out, 250ms opacity ease-in-out;

  @include phone {
    padding: 12px 0;
  }

  &.is-swoDateVisible_yes {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.Header-nav {
  display: flex;
  justify-content: center;
}

.Header-nav,
.Header-navIndicator {
  margin-left: 20px;
  margin-right: 20px;
}

.Header-navIndicator {
  margin-top: 12px;
}

.Header-swo {
  text-align: center;
  @include not-phone {
    font-size: 16px;
  }
  @include phone {
    font-size: 14px;
    margin-left: -5px;
    margin-right: -5px;
  }
}

.Header-swoDateFetchButton {
  transition: opacity 250ms ease-in-out, border 250ms ease-in-out;
  user-select: none;
  white-space: nowrap;
}

.Header-swo {
  &.is-fetching_no .Header-swoFetchButton {
    border-bottom: 1px dashed #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.is-fetching_yes .Header-swoFetchButton {
    opacity: 0.2;
    border-bottom: 1px dashed transparent;
    cursor: default;
  }
}
